@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
body{
    background-color: palegreen;
}

*{
    margin:0;
    padding: 0;    
}

nav{
    font-family: 'Crete Round', serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 60px;
    background-color: black;
    color: white;
    
}

nav ul li{
    padding: 0px 18px;
    font-size: 1.2rem;
}

.brand img{
    width: 50px;
    padding: 10px;
}

.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
    padding: 5px;
}

.container{
    min-height: 69vh;
    background-color: black;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    width: 70%;
    margin: 25px auto;
    border-radius: 15px;
    padding:35px;
    background:url('bg.jpg');
    background-size: cover;
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 10px;
    word-spacing: 15px;
}

.icons i{
    cursor: pointer;
}

#progressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 30px;
    width: 35vw;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 350px;
    color: black;
    margin: 15px 3px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.songItem img{
    width: 43px;
    margin: 0 15px;
    border-radius: 25px;
}

.songItem i{
    cursor: pointer;
}

.timestamp{
    margin: 0 10px;
    padding: 10px;
}

.songInfo{
    padding-top: 10px;
    position: absolute;
    left: 10vw;
    font-family: 'Noto Sans', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in ;
}